#affirmations {
    text-align: center;
    align-items: center;
}

button {
  background-color: black;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
